{% extends 'base.html.twig' %}
{% block title %}
    Profil
{% endblock %}

{% block body %}
    <h2 class="text-center my-5">Profil of {{ user.username }}</h2>
    <div class="container">
        <div class="border border-dark p-4 w-50 m-auto">
            <div class="row">
                <img class="rounded-circle" src="{{ asset('uploads/avatar/' ~ user.avatar) }}" alt="">
                <div class="text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="text-start fw-bold">Email</p>
                            <div class="badge bg-primary text-wrap fs-6 w-100"
                                 style="width: auto;">{{ user.email }}</div>
                        </li>
                        <li class="list-group-item">
                            <p class="text-start fw-bold">Username</p>
                            <div class="badge bg-primary text-wrap fs-6 w-100"
                                 style="width: auto;">{{ user.username }}</div>
                        </li>
                    </ul>
                </div>
                <div class="text-center pt-3">
                    <a class="btn btn-outline-danger" href="{{ path('app_edit_profil') }}">Edit</a>
                    <a class="btn btn-outline-danger" href="{{ path('app_reset_password_user', {'username': user.username, 'id' : user.id}) }}">Reset</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




