{% for trick in tricks %}
    <div class="col-xl-3 col-md-4 mb-2">
        <a href="{{ path('trick_details', {'slug': trick.slug}) }}" class="text-decoration-none">
            <div class="card h-100" id="card_trick">
                {% set number_images = trick.images|length %}
                {% if trick.images is empty %}
                    <img
                            src="{{ asset('/uploads/trick/logo-Snowtricks.png') }}"
                            class="card-img-top img-card"
                            alt=""
                    />
                {% else %}
                    <img
                            src="{{ asset('/uploads/trick/' ~ trick.images[random(0,number_images-1)].name  ) }}"
                            class="card-img-top img-card"
                            alt=""
                    />
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">
                        {{ trick.title }}
                         {% if is_granted("ROLE_USER") %}
                        <div class="float-end">
                            <a href="{{ path('trick_edit',{'id' : trick.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </div>
                         {% endif %}
                    </h5>
                </div>
            </div>
        </a>
    </div>
    {{ include('home/_modal.html.twig') }}
{% endfor %}



