{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center my-5 form_title display-2">Registration</h1>

    <div class="container">
        <div class="border border-dark p-4 m-auto d-table bg-dark text-white form_font ">
            <div class="row display-5">
                {{ form_start(registrationForm) }}
                <div class="text-center">
                    {{ form_row(registrationForm.username) }}
                </div>
                <div class="text-center">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="text-center">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create an account</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>

    </div>

{% endblock %}
