{% extends 'base.html.twig' %}
{% block title %}
    Snowtricks - {{ trick.title }}
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="mb-4 main_image_trick position-relative">
            {% set number_images = trick.images|length %}
            {% if trick.images is empty %}
                <img
                        src="{{ asset('/uploads/trick/logo-Snowtricks.png') }}"
                        class="w-100 h-50"
                        alt=""
                />
                <span class="trick_title form_title display-2 text-white">{{ trick.title }}</span>
            {% else %}
                <img
                        src="{{ asset('/uploads/trick/' ~ trick.images[random(0,number_images-1)].name  ) }}"
                        class="img-fluid w-100 h-100 img_main"
                        alt=""
                />
                <span class="trick_title form_title display-2 text-white">{{ trick.title }}</span>
            {% endif %}
        </div>
    </div>
    <div class="container ">
        <section id="media">
            <button id="show_media" class="btn btn-dark mx-auto">See medias</button>
            <div class="row hideP" id="trick_media">
                {% for image in trick.images %}
                    <div class="col-12 col-sm-4 col-md-3 col-xl-2 pb-3">
                        <div class="card">
                            <img
                                    class="card-img-top img-card"
                                    src="{{ asset('uploads/trick/' ~ image.name) }}" alt="">
                        </div>
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    {% if 'dailymotion' in video.embed %}
                        {% set id_daylimotion = video.embed|split('video/') %}
                        {% set embed_daily = id_daylimotion[1] %}
                        <div class="col-12 col-sm-4 col-md-3 col-xl-2 pb-3">
                            <div class="card">
                                <iframe frameborder="0" width="100%" height="200"
                                        src="https://www.dailymotion.com/embed/video/{{ embed_daily }}"
                                        allowfullscreen
                                        allow="autoplay; fullscreen">
                                </iframe>
                            </div>
                        </div>
                    {% endif %}
                    {% if 'youtube' in video.embed %}
                        {% set id_youtube = video.embed|split('?v=') %}
                        {% set embed = id_youtube[1]|split('&') %}
                        <div class="col-12 col-sm-4 col-md-3 col-xl-2 pb-3">
                            <div class="card">
                                <iframe width="100%" height="200"
                                        src="https://www.youtube.com/embed/{{ embed[0] }}">
                                </iframe>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-11 mx-5 px-5 my-5">
                    {{ trick.description | raw }}
                </div>
            </div>
            <div class="row d-flex bg-white ">
                <dl class="row pb-3">
                    <dt class="col-sm-2 form_font">Category</dt>
                    <dd class="col-sm-10 text-center">{{ trick.category.name }}</dd>
                    <hr/>
                    <dt class="col-sm-2 form_font">Publish</dt>
                    <dd class="col-sm-10">
                        <p class="text-center">{{ trick.createdAt | date('d/m/y') }}
                            at {{ trick.createdAt | date('H:i') }}</p>
                        <p class="text-center">by {{ trick.user.username }}</p>
                    </dd>
                    <hr/>
                    {% if trick.updatedAt %}
                        <dt class="col-sm-2 form_font">Update</dt>
                        <dd class="col-sm-10 text-center">{{ trick.updatedAt | date('d/m/y') }}
                            at {{ trick.updatedAt | date('H:i') }}</dd>
                    {% endif %}
                </dl>
            </div>

        </section>
        <hr class="solid">
        <div class="mx-auto">
            {% if app.user %}
                <div class="">
                    {{ form_start(form, {'attr': {'class': 'row d-flex justify-content-center'}}) }}
                    {{ form_widget(form, {'attr': {'class': 'col-6'}}) }}

                    <div class="col-2 text-center my-auto ">
                        <button type="submit" class="btn btn-primary">Leave a comment</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            {% else %}
                <div>
                    <span>
                        <strong>Please <a href="{{ path('app_login') }}">Sign in</a> for leave a comment</strong>
                    </span>
                </div>
            {% endif %}
        </div>
        <hr class="solid">

        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark" id="comments">
                        {% include 'trick/_comment.html.twig' %}
                    </div>
                </div>
            </div>
            {% if pages > 1 %}
                <nav class="mt-3" id="nav_comments">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" id="prev" href="" data-page='0'
                               data-total={{ pages }} data-slug={{ trick.slug }}>Previous</a>
                        </li>

                        {% for page in 1..pages %}
                            <li class="page-item"><a class="page-link" id="pagination" href=""
                                                     data-page={{ page }} data-total={{ pages }}
                                                     data-slug={{ trick.slug }}>{{ page }}</a></li>
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link" id="next" href="" data-page='2'
                               data-total={{ pages }} data-slug={{ trick.slug }}>Next</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('paginate_comments') }}
{% endblock %}




