{% extends 'base.html.twig' %}
{% block title %}
    Snowtricks - {{ trick.title }}
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="mb-4 main_image_trick">
            {% set number_images = trick.images|length %}
            {% if trick.images is empty %}
                <img
                        src="{{ asset('/uploads/trick/logo-Snowtricks.png') }}"
                        class="w-100 h-50"
                        alt=""
                />
            {% else %}
                <img
                        src="{{ asset('/uploads/trick/' ~ trick.images[random(0,number_images-1)].name  ) }}"
                        class="img-fluid w-100 h-100 img_main"
                        alt=""
                />
            {% endif %}
        </div>
    </div>
    <div class="container ">
        <section>
            <div class="row">
                {% for image in trick.images %}
                    <div class="col-2 pb-3">
                        <div class="card">
                            <img
                                    class="card-img-top img-card"
                                    src="{{ asset('uploads/trick/' ~ image.name) }}" alt="">
                        </div>
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    {% set id_youtube = video.embed|split('?v=') %}
                    {% set embed = id_youtube[1]|split('&') %}
                    <div class="col-2">
                        <div class="card">
                            <iframe width="100%" height="200"
                                    src="https://www.youtube.com/embed/{{ embed[0] }}">
                            </iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-11 mx-5 px-5 my-5">
                    {{ trick.description | raw }}
                </div>
            </div>

            <div class="row mx-auto text-center pb-3">
                <div class="col">
                    <span class="border border-dark border-4 rounded-pill p-2 bg-info">
                        Catégorie : {{ trick.category.name }}
                    </span>
                </div>
                <div class="col">
                    <span class="border border-dark border-4 rounded-pill p-2 bg-info">Publié
                        le {{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('H:i') }}
                        par {{ trick.user.username }}</span>
                </div>
                {% if trick.updatedAt %}
                    <div class="col">
                       <span class="border border-dark border-4 rounded-pill p-2 bg-info">Mis à jour
                           le {{ trick.updatedAt | date('d/m/y') }} à {{ trick.updatedAt | date('H:i') }}</span>
                    </div>
                {% endif %}
            </div>
        </section>
        <hr class="solid">
        <div class="mx-auto">
            {% if app.user %}
                <div class="">
                    {{ form_start(form, {'attr': {'class': 'row d-flex justify-content-center'}}) }}
                    {{ form_widget(form, {'attr': {'class': 'col-6'}}) }}

                    <div class="col-2 text-center my-auto ">
                        <button type="submit" class="btn btn-primary">Leave a comment</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            {% else %}
                <div>
                    <span>
                        <strong>Please sign in for leave a comment</strong>
                    </span>
                </div>
            {% endif %}
        </div>
        <hr class="solid">

        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark" id="comments">
                       {% include 'trick/_comment.html.twig' %}
                    </div>
                </div>
            </div>
            {% if pages > 1 %}
            <nav id="nav_comments">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" id="prev" href="" data-page='0' data-total={{ pages}} data-slug={{ trick.slug }}>Previous</a>
                    </li>

                    {% for page in 1..pages %}
                    <li class="page-item"><a class="page-link" id="pagination" href="" data-page={{ page }} data-total={{ pages}} data-slug={{ trick.slug }}>{{ page }}</a></li>
                    {% endfor %}
                    <li class="page-item">
                        <a class="page-link" id="next" href="" data-page='2' data-total={{ pages}} data-slug={{ trick.slug }}>Next</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('paginate_comments') }}
{% endblock %}



